@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Readify.Domain.CategoryAgg.DTOs.GetCategoryDto>
@{
    Layout = "_ManagerLayout";
}

<div class="row">
	<div class="col-md-12">
		<div class="card">

			<div class="card-body">
				<div class="px-3 py-5">
                    <form method="post" enctype="multipart/form-data" class="form form-horizontal">
						<div class="form-body">
							<div class="form-group row">
                                <label class="col-md-3 label-control" for="Name">نام کتاب : </label>
								<div class="col-md-9">
									<div class="position-relative has-icon-left">
                                        <input type="text" id="Name" class="form-control" name="Name">
										<div class="form-control-position">
											<i class="ft-user"></i>
										</div>
									</div>
								</div>
							</div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="AuthorName">نام نویسنده : </label>
                                <div class="col-md-9">
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="AuthorName" class="form-control" name="AuthorName">
                                        <div class="form-control-position">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="PageCount">تعداد صفحات : </label>
                                <div class="col-md-9">
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="PageCount" class="form-control" name="PageCount">
                                        <div class="form-control-position">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="Price">قیمت : </label>
                                <div class="col-md-9">
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="Price" class="form-control" name="Price">
                                        <div class="form-control-position">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="CategoryId">دسته بندی : </label>
                                <div class="col-md-9">
                                                              
                                    <select class="form-control" id="CategoryId" name="CategoryId">
                                        <option value="">انتخاب گزینه</option>
                                        @foreach (var category in Model)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            
  
                            

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="ImageFile">تصویر :</label>
                                <div class="col-md-9">
                                    <input type="file" class="form-control-file" id="ImageFile" name="ImageFile">
                                </div>
                            </div>



                        </div>

						<div class="form-actions left">
                            <button type="submit" asp-controller="BookManager" asp-action="Index"  class="btn btn-danger mr-1">
								<i class="icon-trash"></i> لغو
							</button>
							<button type="submit" asp-controller="BookManager" asp-action="Create" class="btn btn-success">
								<i class="icon-note"></i> ذخیره
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
