@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "کتاب ها -";
}
@{
    Layout = "_ManagerLayout";
}



<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست کتاب ها</h4>
                        <a class="btn mr-1 btn-round btn-primary">افزودن</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive-md text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام</th>
                                    <th>قیمت</th>
                                    <th>نام نویسنده</th>
                                    <th>تعداد صفحات</th>
                                    <th>عکس</th>
                                    <th>اقدامات</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>زهرا</td>
                                    <td>یعقوبی</td>
                                    <td>0123456789</td>
                                    <td>0123456789</td>
                                    <td>0123456789</td>
                                    <td>
                                        <a class="success p-0" data-original-title="" title="">
                                            <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                        </a>

                                        <a class="danger p-0" data-original-title="" title="">
                                            <i class="fa fa-trash-o font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>کیانا</td>
                                    <td>احمدی</td>
                                    <td>0789654123</td>
                                    <td>0123456789</td>
                                    <td>0123456789</td>
                                    <td>
                                        <a class="success p-0" data-original-title="" title="">
                                            <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="">
                                            <i class="fa fa-trash-o font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>نیما</td>
                                    <td>خیابانی</td>
                                    <td>0456987123</td>
                                    <td>0123456789</td>
                                    <td>0123456789</td>
                                    <td>
                                        <a class="success p-0" data-original-title="" title="">
                                            <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="">
                                            <i class="fa fa-trash-o font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>