@model CategoryBookViewModel

@{
    ViewData["Title"] = "صفحه اصلی";
}

<section class="hero">
    <h1>هر کتابی که می‌خواهی، اینجا هست</h1>
    <p>با پیش از صدها عنوان کتاب در دسته‌بندی‌های متفاوت، سفر شگفت‌انگیز خود را آغاز کنید</p>
    <button>مشاهده پرفروش‌ترین ها</button>
</section>

<div class="container">

    @await Component.InvokeAsync("Category");
    
    @await Component.InvokeAsync("Book");




</div>
