<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - فروشکاه کتاب</title>
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body>



<partial  name="Header"/>


@RenderBody()

<partial name="Footer"/>



    </body>
</html>