<header>
    <nav>
        <ul class="nav-links">
            <li><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
            <li><a href="#">دسته بندی ها</a></li>
            <li><a href="#">نوشتار ها</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">تماس با ما</a></li>
            <li><a href="#">مدیریت محتوا</a></li>
        </ul>
        <a class="abtn" asp-controller="Account" asp-action="Login">حساب کاربری</a>
    </nav>
</header>