@model Readify.Domain.CategoryAgg.DTOs.EditCategoryDto
@{
    Layout = "_ManagerLayout";
}

<div class="card-body">
    <div class="px-3">
        <form class="form" method="post" enctype="multipart/form-data">
            <div class="form-body">
                <div class="row">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImgUrl" /> 

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label asp-for="Name">نام دسته بندی</label>
                            <input type="text" class="form-control" asp-for="Name">
                        </fieldset>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label asp-for="Descerption">توضیحات</label>
                            <input type="text" class="form-control" asp-for="Descerption">
                        </fieldset>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <label>تصویر فعلی:</label>
                        @if (!string.IsNullOrEmpty(Model.ImgUrl))
                        {
                            <div class="mb-2">
                                <img src="@Model.ImgUrl" width="150" style="border-radius:8px" />
                            </div>
                        }
                        <label asp-for="ImgFile">تغییر تصویر:</label>
                        <input type="file" asp-for="ImgFile" class="form-control-file" />
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <button type="submit" class="btn btn-success" asp-controller="CategoryManager" asp-action="Edit">
                                <i class="icon-note"></i> ذخیره
                            </button>
                        </fieldset>
                    </div>

                    <div class="d-grid mb-2">
                        <div style="color:red">@ViewBag.Error</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
