<footer>
    <div class="footer-links">
        <a href="#">خانه</a>
        <a href="#">درباره ما</a>
        <a href="#">آموزش و پشتیبانی</a>
    </div>
    <div class="footer-copy">
        تمامی حقوق محفوظ است © 2025 طراحی توسط محمدحسین
    </div>
</footer>